alias cdtest='cd ~/testcases/'
alias sz='source ~/.zshrc'
alias vz='v ~/.zshrc'
alias vz='v ~/.aliases'
alias nowhelp='v ~/.aliases'
alias val='v ~/.aliases'
alias rex='libreoffice'
alias cdp='cd ~/"$PROJECT_NAME"/'
alias cdsrc='cd ~/"$PROJECT_NAME"/src'
alias cddata='cd ~/"$PROJECT_NAME"/src/DataProcessor'
alias cdcmd='cd ~/"$PROJECT_NAME"/src/CommandProcessor'
alias bnw='current_dir=$(pwd);cd ~/"$PROJECT_NAME"/build; cmake ..; ninja; cd $current_dir'
alias bd='current_dir=$(pwd); cd ~/"$PROJECT_NAME"/Debug/; cmake -G "Ninja" -DCMAKE_BUILD_TYPE=Debug -DCMAKE_EXPORT_COMPILE_COMMANDS=ON ..; cpplint $(find ../src -name "*.cc" -o -name "*.h"); ninja; cd $current_dir'
alias br='current_dir=$(pwd); cd ~/"$PROJECT_NAME"/Release/; cmake -G "Ninja" -DCMAKE_BUILD_TYPE=Release ..; ninja; cd $current_dir'
alias gdp='gdb ~/"$PROJECT_NAME"/Debug/NowActuary'
alias vmake='v ~/"$PROJECT_NAME"/CMakeLists.txt'
alias vcmake='c ~/"$PROJECT_NAME"/CMakeLists.txt'
alias z1='source ~/.zshrc'
alias z2='source ~/.zshrc2'
alias grn='grep -rn'
alias grnw= 'grep -rnw'
alias bda='g++ -g -std=c++17 -O2 -Wall -Wextra -o main /home/iamreckie/algorithm/main.cc'
